<a href="https://colab.research.google.com/github/jubsribs/iel-python/blob/main/teste_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTAÇÕES**

In [ ]:
import pandas as pd

**Carregando os Dados**

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('vendas.csv', delimiter=";")
df.head()

         Data    Produto  Quantidade  Valor Unitario  ID
0  2025-02-01  Produto A          10            50.0   1
1  2025-02-01  Produto B           2            25.0   2
2  2025-02-01  Produto A           3            50.0   3
3  2025-02-02  Produto B           5            25.0   4
4  2025-02-02  Produto C           1            17.0   5

**Visualizando o tipo dos paramêtros**

In [ ]:
print(df.dtypes)

Data               object
Produto            object
Quantidade          int64
Valor Unitario    float64
ID                  int64
dtype: object

**Transformação do tipo data para datetime**

In [ ]:
df['Data'] = pd.to_datetime(df['Data'])
print(df.dtypes)

Data              datetime64[ns]
Produto                   object
Quantidade                 int64
Valor Unitario           float64
ID                         int64
dtype: object

**Calculando o total de vendas.**

In [ ]:
df["Total Venda"] = df["Quantidade"] * df["Valor Unitario"]
print(df)

         Data    Produto  Quantidade  Valor Unitario  ID  Total Venda
0  2025-02-01  Produto A          10            50.0   1        500.0
1  2025-02-01  Produto B           2            25.0   2         50.0
2  2025-02-01  Produto A           3            50.0   3        150.0
3  2025-02-02  Produto B           5            25.0   4        125.0
4  2025-02-02  Produto C           1            17.0   5         17.0
5  2025-02-03  Produto A           2            50.0   6        100.0
6  2025-02-03  Produto B           7            25.0   7        175.0
7  2025-02-03  Produto C           5            17.0   8         85.0
8  2025-02-04  Produto C           4            17.0   9         68.0
9  2025-02-04  Produto B           8            25.0  10        200.0
10 2025-02-04  Produto A           4            50.0  11        200.0
11 2025-02-04  Produto A           1            50.0  12         50.0
12 2025-02-05  Produto C           7            17.0  13        119.0
13 2025-02-05  Produto B           9            25.0  14        225.0

**Total de vendas por Transação filtrando por ID**

In [ ]:
df.groupby("ID")["Total Venda"].sum()

ID
1     500.0
2      50.0
3     150.0
4     125.0
5      17.0
6     100.0
7     175.0
8      85.0
9      68.0
10    200.0
11    200.0
12     50.0
13    119.0
14    225.0
Name: Total Venda, dtype: float64

**Análise de dados por Produto:** Crie uma análise que mostre o total de vendas por produto. Ou seja, quanto cada produto gerou de receita.

In [ ]:
df.groupby("Produto")["Total Venda"].sum()

Produto
Produto A    1000.0
Produto B     775.0
Produto C     289.0
Name: Total Venda, dtype: float64

**Filtragem de dados**:
Filtre as vendas realizadas do dia 2025-02-03 em diante e calcule o total de vendas gerado apenas por essas transações.

In [ ]:
# Filtrando as vendas a partir de 2025-02-03
df_filtrado = df[df['Data'] >= '2025-02-03']

# Calculando o total de vendas
df_filtrado.loc[:,"Total Venda"] = df_filtrado["Quantidade"] * df_filtrado["Valor Unitario"]
print(df_filtrado)

         Data    Produto  Quantidade  Valor Unitario  ID  Total Venda
5  2025-02-03  Produto A           2            50.0   6        100.0
6  2025-02-03  Produto B           7            25.0   7        175.0
7  2025-02-03  Produto C           5            17.0   8         85.0
8  2025-02-04  Produto C           4            17.0   9         68.0
9  2025-02-04  Produto B           8            25.0  10        200.0
10 2025-02-04  Produto A           4            50.0  11        200.0
11 2025-02-04  Produto A           1            50.0  12         50.0
12 2025-02-05  Produto C           7            17.0  13        119.0
13 2025-02-05  Produto B           9            25.0  14        225.0

In [ ]:
# Filtrando o total de vendas por Data
df_filtrado.groupby("Data")["Total Venda"].sum()

Data
2025-02-03    360.0
2025-02-04    518.0
2025-02-05    344.0
Name: Total Venda, dtype: float64

**Funções e estruturas de controle:** Implemente uma função que, dado um produto e uma data, retorne o total de vendas (quantidade * valor unitário) para aquele produto na data
fornecida.

In [ ]:
# Converte a coluna 'Produto' para minúsculas
df["Produto"] = df["Produto"].str.lower()

# Entrada do usuário
produto_example = input("Digite o nome do produto: ").strip().lower()
data_example = input("Digite a data (YYYY-MM-DD): ").strip()

# Filtragem
df_filtrado = df[(df["Produto"] == produto_example) & (df["Data"] == pd.to_datetime(data_example))].copy()

# Cálculo correto do total de vendas
df_filtrado["Total Venda"] = df_filtrado["Quantidade"] * df_filtrado["Valor Unitario"]

print(df_filtrado)

Digite o nome do produto: PRODUTO C
Digite a data (YYYY-MM-DD): 2025-02-04
        Data    Produto  Quantidade  Valor Unitario  ID  Total Venda
8 2025-02-04  produto c           4            17.0   9         68.0